@use "@scss/abstracts/all-abstracts" as *;

// Get Involved
#get-involved {
    .sectionContent {
        overflow: visible;
        width: 100%;
        max-width: 80rem;
    }

    .scroll-container {
        margin-bottom: 2rem !important;
    }

    div>.scroll-buttons {
        margin-top: 2rem !important;
    }

    .card {
        width: $get-involved-card-width;
        background-size: 100% 100%;
        background-position: center;
        height: 100%;
        width: 90vw;
        max-width: $card-max-width;
        transition: transform 0.3s ease-in-out;
    }
}

$card-items-alignment: center;
$card-text-alignment: center;


.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: $card-items-alignment;
    // text-align: center;
    border-radius: 0.125rem;
    align-self: stretch;
    max-width: calc(100vw * 0.85);
    scroll-snap-align: center;

    position: relative;
    text-decoration: none !important;

    .icon-container {
        display: flex;
        background: rgba(79, 196, 208, 0.33);
        height: fit-content;
        width: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        aspect-ratio: 3 / 2;
        // border-radius: 100rem;
        // margin-top: 2rem;

        img {
            height: auto;
            width: 100%;
            object-fit: contain;
        }

        @include breakpoint(med) {
            height: 10rem;
        }
    }

    @include breakpoint(med) {
        // gap: 2.5rem;
        justify-self: stretch;
        align-self: stretch;
        align-items: center;

        .icon {
            display: flex;
            height: 8rem;
            overflow: hidden;
            width: fit-content;
        }
    }

    .copy-container {
        display: flex;
        flex-direction: column;
        align-items: $card-items-alignment;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 2rem 1.5rem 2.5rem;
        flex-grow: 1;
        text-align: $card-text-alignment;

        >div {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            p {
                display: flex;
                flex-grow: 1;
                font-size: 1rem;
                color: $off-black;
            }
        }

    }

    .headline {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 135%;
        letter-spacing: -0.025rem;
        // color: $off-black;
        margin-top: 0;
        margin-bottom: 0.5rem;
        text-transform: none;
    }
}

#subsplash-embed-events {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1rem;
    background-color: white;
}

#subsplash-embed-qtbc9rz {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;

    iframe {
        width: 90% !important;
    }

    .ember-application,
    body {
        background-color: transparent !important;
    }
}