@use "../abstracts/all-abstracts" as *;

#the-solution {
	background: $lightest-grey;
}

.final-prototype-headline {
	margin: auto;
	margin-bottom: 1.5rem;
}

$solution-padding: 2.5rem;
$solution-padding-xxl: 3rem;

.the-solution-prototype {
	&_wrapper {
		@include flex(column, 1.5rem);
		width: 90vw;
		margin: auto;
		max-width: 82.5rem;

		@include breakpoint(xxl) {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: 1.5rem;
		}
	}

	&_grid {
		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-template-areas: 'b' 'a';
		margin: 0 auto;
		gap: 2rem;
		align-items: center;
		width: 90%;
		max-width: 28rem;
		grid-template-areas: 'c' 'a';
		justify-content: center;
		padding: $solution-padding;
		border-radius: 1rem;
		background-color: white;
		height: fit-content;

		@include breakpoint(med) {
			grid-template-columns: 2fr 1fr;
			grid-template-rows: auto;
			grid-template-areas: 'a b';
			width: 100%;
			max-width: none;
		}

		@include breakpoint(xl) {
			padding: 3rem;
			gap: 5rem;
		}

		&.primary-prototype,
		&.current-availability {
			max-width: 63rem;

			@include breakpoint(xxl) {
				height: 100%;
			}
		}

		&.current-availability {
			padding-bottom: 0;

			img {
				margin-top: auto;
			}

			p {
				margin-bottom: $solution-padding;
			}

			@include breakpoint(xxl) {
				grid-template-columns: 1fr;
				grid-template-rows: auto auto;
				grid-template-areas: 'a' 'b';
				gap: 2rem;
				max-width: 33rem;
				gap: 0;
			}
		}

		&.primary-prototype {
			@include breakpoint(xxl) {
				max-width: 54rem;
			}
		}
	}

	&_body {
		color: $medium-grey !important;
		margin-bottom: 0;

		@include breakpoint(xl) {
			font-size: 1.2rem;
		}
	}

	&_content {
		grid-area: a;
	}

	&_video,
	&_image {
		grid-area: b;
		margin: 0 auto;
		width: 70%;
		max-width: 18rem;

		@include breakpoint(med) {
			width: 100%;
		}
	}

	&_video {
		margin-bottom: 1.5rem;

		@include breakpoint(med) {
			margin-bottom: 0;
		}
	}
}

.img-seating-available {
	grid-area: c;
	display: flex;
	padding: 1rem;
	margin: auto;
	border-radius: 0.5rem;
	background: var(--Colors-White, #FFF);
	box-shadow: 1.5px 1.5px 4px 0px rgba(0, 0, 0, 0.1);

	img {
		width: 15rem;
	}
}

.final-prototype {
	&_grid-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		margin: 0 auto;
		gap: 2rem;
		align-items: center;
		width: 90vw;
		max-width: 28rem;
		grid-template-areas: 'c' 'a';
		justify-content: center;
		padding: 2.5rem 1.5rem;
		border-radius: 1rem;
		background-color: white;

		@include breakpoint(med) {
			width: fit-content;
			max-width: 80rem;
			align-items: start;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto auto auto;
			margin: auto;
			align-items: center;
			background-color: white;
			padding: 3rem 4rem;
			grid-template-areas: 'd d' 'b c'
				'a a';
			gap: 5rem;
			;

			&.intro-prototype {
				grid-template-columns: 1fr auto;
				grid-template-rows: auto;
				grid-template-areas: 'a  b';
			}

		}

		@include breakpoint(lg) {
			grid-template-columns: 1fr auto auto;
			grid-template-rows: auto auto;
			grid-template-areas: 'd d d' 'a b c';
		}

		//
		// 		@include breakpoint(med) {
		// 			align-items: start;
		// 			grid-template-columns: 1fr auto auto;
		// 			grid-template-rows: auto;
		// 			grid-template-areas: 'a b c';
		// 			margin: auto;
		// 			align-items: center;
		// 			width: fit-content;
		// 			column-gap: 2rem;
		// 			background-color: white;
		// 			padding: 3rem 4rem;
		//
		// 			&.the-final-prototype {
		// 				padding: 3rem 6rem;
		// 			}
		// 		}
	}

	&_video {
		grid-area: b;
		margin: 0 auto;
		width: 70%;
		max-width: 18rem;

		@include breakpoint(med) {
			width: 100%;
			margin-bottom: 1.5rem;
		}

		&-previous,
		&-iteration {
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				margin-bottom: 0;
			}
		}

		&-previous {
			grid-area: b;
			display: none;

			p {
				color: $medium-grey
			}

			@include breakpoint(med) {
				display: flex;
			}
		}

		&-iteration {
			grid-area: c;

			p {
				color: $black;
			}
		}
	}

	&_content {
		grid-area: a;
		margin: auto;

		p {
			margin-bottom: 0;
			text-align: center;

			@include breakpoint(lg) {
				text-align: left;
				max-width: 30rem;
			}
		}

		h3 {
			color: $black;
		}

		:last-child {
			margin-bottom: 0;
		}

		@include breakpoint(med) {
			p {
				text-align: left;
			}

			width: 100%;
			min-width: 26rem;
			max-width: 45rem;
		}
	}

	&_headline {
		grid-area: d;
		display: none;
		text-align: center;
		margin-bottom: 1rem;

		@include breakpoint(med) {
			display: block;
			font-size: 1.75rem;
		}

		@include breakpoint(lg) {
			text-align: left;
			font-size: 2rem;
			max-width: 24rem;
		}
	}

	.card_headline {
		color: $emphasis-blue;
		font-weight: 500;
		margin-bottom: 0;
		font-size: 1.25rem;
	}

	&_subheading {
		font-size: 1.35rem;
		margin-bottom: 1.25rem;
		color: $off-black !important;
		line-height: 125%;
	}

	&_card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
		margin: auto;
		margin-top: 2rem;
		padding: 1.5rem 2.5rem;
		padding-right: 1rem;
		border-radius: 0.25rem;
		border-left: 0.5rem solid $emphasis-blue;
		background-color: $lightest-grey;
		width: fit-content;
		height: fit-content;

		@include breakpoint(med) {
			margin-top: 0;
		}

		@include breakpoint(lg) {
			max-width: 32rem;
		}

		.card_list {
			align-self: start;
		}
	}

	&_list {
		margin: auto;
		margin-top: 0;

		li {
			font-size: 1.125rem;
			color: $medium-grey;

			@include breakpoint(med) {
				color: $black;
			}

			@include breakpoint(lg) {
				font-size: 1.25rem;
			}
		}

	}
}

@include breakpoint(med) {
	.the-solution-prototype_subheading {
		font-size: 1.2rem;
		color: $off-black !important;
		font-weight: 500 !important;
	}
}