@use "../abstracts/all-abstracts" as *;

.screener-survey-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 1rem !important;
	gap: 2rem;
	overflow: hidden;

	.img-screener-survey {
		border-bottom: 1px solid #eae8e2;
		width: 100%;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;

		>div {
			width: 100%;
		}
	}

	.target-diners_wrapper {
		display: none;
	}

	@include breakpoint(med) {
		flex-direction: row;
		gap: 2rem;
		align-items: start;

		.img-screener-survey {
			width: 35%;
			max-width: 20rem;
		}

		.target-diners_wrapper {
			display: block;
		}
	}

	@include breakpoint(lg) {
		max-width: 58rem;

		.img-screener-survey {
			max-height: 50rem;
		}

		.content-container {
			max-width: 60rem;
		}

		.target-diners_wrapper {
			margin-top: 1rem;
		}
	}
}

.screener-survey-wrapper-2 {
	@include flex(row, 2rem);
	width: $content-max-width;
	margin-left: auto;
	margin-right: auto;
	gap: 2rem;

	.img-screener-survey {
		width: 35%;
		height: fit-content;
		border-bottom: 1px solid #eae8e2;
	}

	.content-container>div:nth-child(2)>div {
		.satisfaction-level {
			img {
				width: 1.5rem;
				height: 1.5rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}
}

.likert_flex-container {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}

.likert-scale_grid-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 0.75rem;
	grid-row-gap: 1rem;
	width: 100%;
	margin-bottom: 2rem;
}

.likert-scale {
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	flex-direction: column;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	grid-auto-columns: 1fr;
	display: flex;
}

.likert-scale._1-column {
	display: block;
}

.likert {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.satisfaction-level {
	@include flex(row, 0.75rem, null, center);
	align-items: center;

	img {
		width: 1.5rem;
		height: 1.5rem;
	}

	p {
		font-size: 1rem;
		margin-bottom: 0;
		text-wrap: nowrap;
	}
}

.survey-results-wrapper {
	@include flex(column, 2rem, null, null);
	max-width: $content-max-width;
	margin: 2rem auto;

	>div:first-child {
		flex: content;
	}

	>div:last-child {
		margin-top: calc(32px + 56px);
	}

	@include breakpoint(lg) {
		width: 95%;
	}
}

.img-survey-results_wrapper {
	box-sizing: border-box;
	padding: 1rem;
	background-color: #fff;
	border: 1.25px solid $medium-light-grey;
	overflow: hidden;
	border-radius: 5px;
}

.survey-results-cards-wrapper {
	@include flex(row, 0.5rem, stretch, stretch);

	img {
		border-radius: 5px;
	}
}

.survey-results_flex-container {
	align-items: stretch;
	gap: 1rem;

	@include breakpoint(med) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.survey-results-card {
	padding: 2rem;
	background-color: white;
	border-radius: 5px;
	border: 1.25px solid $medium-light-grey;

	.content {
		width: 100%;
		margin: 0;
		font-weight: 500;
		font-size: 1.25rem;
		color: $black;
	}
}

.img-survey-results_wrapper {
	box-sizing: border-box;
	padding: 1rem;
	background-color: #fff;
	border: 1.25px solid $medium-light-grey;
	overflow: hidden;
	border-radius: 5px;
}

.likert-mood.large {
	align-self: flex-start;
	width: 2.5rem;
	height: 2.5rem;
	margin-bottom: 0.5rem;
}

.flex-1 {
	flex: 1;
}

// Quotes
.primary-research_blockquote-grid {
	// display: grid;
	// grid-template-columns: 3fr 7fr;
	column-gap: 1.25rem;
	align-items: center;
	margin-bottom: 1rem;
}

.quotation-mark {
	--primary-color: #076261;
	--swiper-theme-color: #007aff;
	--swiper-navigation-size: 44px;
	font-family: 'Inter', sans-serif;
	text-align: left;
	padding: 0;
	box-sizing: border-box;
	border-style: none;
	width: 100%;
	margin: 0;
	max-width: 4rem;

	&.quotation-mark-end {
		transform: scale(-1, 1);
	}
}

.primary-research-summary_wrapper {
	width: 90vw;

	@include breakpoint(lg) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
}

@include breakpoint(med) {
	.likert_flex-container-short-v {
		gap: 3rem;
		margin-bottom: 2rem;

		.satisfaction-level {
			@include flex(row, 0.75rem, null, center);
			align-items: center;

			img {
				width: 2rem;
				height: 2rem;
			}

			p {
				font-size: 1.125rem;
				margin-bottom: 0;
			}
		}
	}
}

.user-research-assumptions_grid-container {
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: 1fr;
	gap: 0.5rem;
	width: 95vw;
	margin: 0.5rem auto 2rem auto;

	@include breakpoint(med) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		width: 100%;
	}

	.card-vertical {
		margin-bottom: 0;
	}
}