@use "../abstracts/all-abstracts" as *;
@use "../../components/MediaCarousel/carousel-variables" as *;

.test-findings-grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	gap: 1rem;

	@include breakpoint(med) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

.iterations-carousel_wrapper {
	width: 100vw;

	h3 {
		position: absolute;
		margin: 0;
		line-height: 145%;
		font-weight: 500;
		font-size: 2.55rem !important;
		color: #4a4a4a !important;
		width: 100%;
	}

	@include breakpoint(med) {

		h3 {
			transform: translateX(4rem);
			transform: translateY(4rem);
			transform: translate(4rem, 3rem);
		}
	}
}

.iterations-carousel_grid-container {
	display: grid;
	box-sizing: content-box;
	grid-template-rows: auto;
	/* Enable horizontal scroll */

	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	width: $design-walkthrough-carousel-width;
	max-width: $design-walkthrough-carousel-max-width;
	margin: auto;
	margin-bottom: 1.5rem;

	-ms-overflow-style: none;
	scrollbar-width: none;

	/* Hide scroll bar */
	&::-webkit-scrollbar {
		display: none;
	}

	&.three-carousel-items {
		grid-template-columns: repeat(3, 1fr);
	}

	&.two-carousel-items {
		grid-template-columns: repeat(2, 1fr);
	}

	.iterations-carousel-item:last-child {
		margin-right: 0;
	}
}

.iterations-carousel_grid-container::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari and Opera */
}

.iterations-carousel_nav-arrows_wrapper {
	width: $design-walkthrough-carousel-width;
	max-width: $design-walkthrough-carousel-max-width;
	margin: auto;
	display: flex;
	gap: 1rem;
	list-style-type: none;
	justify-content: center;
	flex-direction: row;

	li {
		padding: 0;
		transform: none;
	}
}

.carousel-nav-arrow {
	width: 2.25rem;
	height: 2.25rem;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: #f0f0f0;
	transition: opacity 0.3s ease-in-out;

	svg {
		width: 100%;
		fill: #555555;
	}

	:hover {
		opacity: 0.5;
	}
}

.iterations-carousel-item {
	display: flex;
	margin-right: 1rem;

	&_headline {
		padding: 0;
		margin-top: 0;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 130%;
		margin-bottom: 1rem;
		color: #1e1e1e;
		font-size: 1.5rem;
	}
}

.iterations-carousel-item_content-wrapper {
	display: flex;
	flex-direction: column-reverse;
	margin: auto;
	border-radius: 2rem;
	align-items: center;
	justify-content: center;
	color: white;
	margin: 0;
	height: 100%;
	justify-self: stretch;
	border-radius: 2rem;
	background-color: #f4f4f4;

	.carousel-content {
		width: fit-content;
		height: fit-content;
		margin: auto;

		p {
			font-size: 1.125rem;
		}

		.design-walkthrough-grid_card {
			width: fit-content;
			max-width: 30rem;
			background-color: white;
		}

		.subheading {
			line-height: 130%;
		}


	}

	video {
		width: 100%;
	}

	.img-wireframe {
		width: 16.75rem;

		&.border {
			border: 1px solid $black;
		}
	}

	.media-content-wrapper {
		grid-area: b;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		grid-template-areas: 'a b' 'c d';
		gap: 1.5rem;
		align-items: center;
		justify-content: center;

		video:first-child {
			grid-area: a;
		}

		video:last-child {
			grid-area: b;
		}

		p {
			text-align: center;

		}

		p:first-child {
			grid-area: c;
		}

		p:last-child {
			grid-area: d;
		}
	}

	@include breakpoint(med) {
		padding: 6rem 4rem 4rem 4rem;
		gap: 3rem;
		width: $design-walkthrough-carousel-width;
		max-width: $design-walkthrough-carousel-max-width;

		video {
			width: 10rem;
		}

		.media-content-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, auto);

			p {
				text-align: center;
			}
		}
	}

	@include breakpoint(lg) {
		flex-direction: row;
		align-items: center;


		video {
			width: 14rem;
		}

		.carousel-content {
			width: 50%;
			min-width: 26rem;
			max-width: 35rem;
		}
	}

	@include breakpoint(xl) {
		video {
			width: 18rem;
		}
	}
}


@include breakpoint(med) {

	.iterations-carousel_desktop-wrapper {
		display: flex;
		align-items: center;
		gap: 1.5rem;
		margin: auto;
		width: fit-content;
	}

	.iterations-carousel_grid-container {
		margin: 0;
	}

	.carousel-nav-arrow {
		width: 3rem;
		height: 3rem;
	}

}


.iterations-carousel-item_headline {
	font-family: "Inter", sans-serif;
	text-align: left;
	padding: 0;
	margin-top: 0;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 130%;
	margin-bottom: 1rem;
	color: #1e1e1e;
	font-size: 1.5rem;
}