@use "abstracts/all-abstracts" as *;

.sectionWrapper {
    padding: $sectionWrapper-padding-base 0;
    width: 100%;

    @include breakpoint(med) {
        padding: $sectionWrapper-padding-med auto;
    }

    @include breakpoint(lg) {
        padding: $sectionWrapper-padding-lg auto;
    }

    @include breakpoint(med) {
        padding: $sectionWrapper-padding-med 0;
    }

    //
    //   @include breakpoint(lg) {
    //     padding: 8rem 0;
    //   }
}

.sectionContent {
    margin: 0 auto;
    width: $container-width;
    max-width: $content-max-width;
}

.section-header {
    display: inline-block;
    margin-bottom: 0;
    position: relative;

    h2 {
        color: #FFF3DB;
        text-align: center;
        font-size: 2.375rem;
        font-weight: 700;
        line-height: 100%;
        text-transform: uppercase;
        margin: 0 auto; // Removes default margins for better spacing

        @include breakpoint(med) {
            font-size: 3.5rem;
            letter-spacing: -1px;
        }

        @include breakpoint(xl) {
            font-size: 4.5rem;
        }
    }

    @include breakpoint(med) {
        margin-bottom: 2rem;
    }

}