@use "@abstracts/breakpoints-mixins" as *;


.mobile-only {
	@media only screen and (max-width: 767px) {
		&-inherit {
			display: inherit;
		}

		&-flex {
			display: inherit;
		}

		&-block {
			display: block;
		}

		&-inline {
			display: inline;
		}

		&-inline-block {
			display: inline block;
		}

		&-grid {
			display: grid;
		}
	}

	@include breakpoint(med) {
		display: none !important;
	}
}

// Classes for showing content at different breakpoints
.show-mobile-sm {
	display: none !important;
}

.show-mobile-med {
	display: none !important;
}

.show-mobile-lg {
	display: none !important;
}

.show-mobile-lg-flex {
	display: none !important;
}

.show-sm {
	display: none !important;
}

.show-sm-block {
	display: none !important;
}

.show-sm-flex {
	display: none !important;
}

.show-med {
	display: none !important;
}

.show-med-flex {
	display: none !important;
}

.show-med-block {
	display: none !important;
}

.show-med-list-item {
	display: none !important;
}

.show-lg {
	display: none !important;
}

.show-xl {
	display: none !important;
}

.show-xxl {
	display: none !important;
}

@include breakpoint(mobile-sm) {
	.show-mobile-sm {
		display: inherit;
	}
}

@include breakpoint(mobile-med) {
	.show-mobile-med {
		display: inherit;
	}
}

@include breakpoint(mobile-lg) {
	.show-mobile-lg {
		display: inherit;
	}

	.show-mobile-lg-flex {
		display: flex !important;
	}

	.show-mobile-lg-block {
		display: block !important;
	}
}

@include breakpoint(sm) {
	.show-sm {
		display: inherit;
	}

	.show-sm-block {
		display: block !important;
	}

	.show-sm-flex {
		display: flex !important;
	}
}

@include breakpoint(med) {
	.show-med {
		display: inherit;
	}

	.show-med-flex {
		display: flex !important;
	}

	.show-med-block {
		display: block !important;
	}

	.show-med-list-item {
		display: list-item !important;
	}
}

@include breakpoint(lg) {
	.show-lg {
		display: inherit;
	}

	.show-lg-flex {
		display: flex !important;
	}

	.show-lg-block {
		display: block !important;
	}
}

@include breakpoint(xl) {
	.show-xl {
		display: inherit;
	}
}

@include breakpoint(xxl) {
	.show-xxl {
		display: inherit;
	}
}

// Classes for showing content at different breakpoints
.hide-mobile-sm {
	display: inherit !important;
}

.hide-mobile-med {
	display: inherit !important;
}

.hide-mobile-lg {
	display: inherit !important;
}

.hide-sm {
	display: inherit !important;
}

.hide-sm-inline-block {
	display: inline-block !important;
}

.hide-med {
	display: inherit !important;
}

.hide-lg {
	display: inherit !important;
}

.hide-lg-block {
	display: block !important;
}

.hide-xl {
	display: inherit !important;
}

.hide-xxl {
	display: inherit !important;
}

// Classes for hiding content at different breakpoints

@include breakpoint(mobile-sm) {
	.hide-mobile-sm {
		display: none !important;
	}
}

@include breakpoint(mobile-med) {
	.hide-mobile-med {
		display: none !important;
	}
}

@include breakpoint(mobile-lg) {
	.hide-mobile-lg {
		display: none !important;
	}
}

@include breakpoint(sm) {
	.hide-sm {
		display: none !important;
	}
}

@include breakpoint(med) {
	.hide-med {
		display: none !important;
	}
}

@include breakpoint(lg) {
	.hide-lg {
		display: none !important;
	}
}

@include breakpoint(xl) {
	.hide-xl {
		display: none !important;
	}
}

@include breakpoint(xxl) {
	.hide-xxl {
		display: none !important;
	}
}