@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/breakpoints-mixins" as *;

.btn-primary,
.btn-secondary {
	display: flex;
	height: 2.25rem;
	padding: 0.5rem 1rem !important;
	border-radius: 1.5625rem; // Note: You might want to ensure this matches the .btn styles if intended
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	align-items: center;
	justify-content: center;
	border: none;
	overflow: hidden;
	font-weight: 500;
	box-sizing: border-box;
	transition: background-color 0.3s, color 0.3s;

	p {
		margin-bottom: 0;
	}
}

.btn {
	font-weight: 500;

	&-primary {
		box-sizing: border-box;
		background-color: $secondary-green; // Assuming $black is defined elsewhere in your styles
		color: $white;
		transition: background-color 0.3s, color 0.3s, opacity 0.3s;

		&:hover {
			box-sizing: border-box;
			background-color: $primary-color;
			opacity: 0.85;
		}

		&:hover:active {
			transition: background-color 0.3s, color 0.3s, opacity 0.3s;
		}

		&:active {
			background-color: $large-button-active-color;
			transition: background-color 0.3s, color 0.3s, opacity 0.3s;
		}
	}

	&-secondary {
		border: 1.5px solid $black;
		transition: border 0.3s, color 0.3s;
		color: $black;

		&:hover {
			border: 1.5px solid $primary-color;
			color: $primary-color;
		}

		&:hover:active {
			transition: border 0.3s, color 0.3s;
		}

		&:active:focus {
			border-color: $large-button-active-color;
			color: $large-button-active-color;
			transition: border 0.3s, color 0.3s;
		}
	}
}

.btn-primary,
.btn-secondary {
	@include breakpoint(med) {
		height: 2.5rem;
	}

	@include breakpoint(lg) {
		height: 3rem;
		padding: 0.625rem 1.25rem;
		font-size: 1.25rem;
	}

	@include breakpoint(xl) {
		height: 3.5rem;
		border-radius: 5rem;
		padding: 0.625rem 1.25rem;
		font-size: 1.25rem;
	}
}


// .social-link {
// 	margin-bottom: 0;
// 	transition: opacity 0.3s ease-in-out, font-weight 0.3s ease-in-out, transform 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
// 	color: $teal-accent !important;
//
// 	a {
// 		color: $teal-accent !important;
// 		font-weight: 400;
// 		line-height: 100%;
// 		margin: 0;
// 	}
//
// 	&:hover {
// 		font-weight: 500;
// 		transform: translateY(-0.075rem);
// 		text-decoration: underline;
// 	}
//
// 	&:hover:active {
// 		opacity: 0.65;
// 	}
// }