@use "@scss/main" as *;

$get-involved-card-width: 27.5rem;

// Get Involved
#get-involved {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .section-content {
        overflow: visible;
        width: 100%;
        max-width: 80rem;
    }

    .item-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 2rem;
        margin-bottom: $button-margin-top-mobile;

        @include breakpoint(med) {
            gap: 1rem;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: $button-margin-top-med;
        }

        @include breakpoint(lg) {
            grid-template-rows: auto;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .card {
        width: $get-involved-card-width;
        background-size: 100% 100%;
        background-position: center;
        height: 100%;
        width: 90vw;
        max-width: $card-max-width;
        transition: transform 0.3s ease-in-out;
    }
}

.scroll-container {
    width: 100%;
    scroll-padding: 0;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.item-container {
    display: grid;
    // grid-template-columns: repeat(4, auto);
    // grid-template-rows: 1fr;
    grid-gap: 1rem;
    grid-auto-flow: column;
    align-items: stretch;
    overflow: visible;
    align-self: flex-start;
    margin: 0 auto;
    width: fit-content;

    .scroll-item-card {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    @include breakpoint(med) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(xl) {
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 !important;
    }
}