@use "@scss/main" as *;

$content-alignment: left;

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: $content-alignment;
    border-radius: 0.125rem;
    align-self: stretch;
    width: 90%;
    max-width: calc(100vw * 0.90);
    margin: auto;
    scroll-snap-align: center;
    gap: 1.5rem;

    position: relative;
    text-decoration: none !important;
}

.card-image {
    width: 100%;
    border-radius: 0.125rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: $content-alignment;
    justify-content: space-between;
    flex-grow: 1;
    text-align: $content-alignment;
}

.card-headline {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 135%;
    letter-spacing: -0.025rem;
    // color: $off-black;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-transform: none;
}

.card-body {
    display: flex;
    flex-grow: 1;
    font-size: 1rem;
    color: white !important;
}

.card-buttons {
    display: flex;
    gap: 1rem;
}