@use "@abstracts/variables" as *;

.introSection {
    width: 100%;
}

.bigType {
    color: white;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.02875rem;
    text-align: left;
}

#weBelieve {
    margin-bottom: 4.5rem;
}

.christopherHugWrapper {
    #cardBGPaper {
        transform: translateY(-6.5rem);
    }
}

.imgChristopherHug {
    object-fit: contain;
    width: 24rem;
    margin-left: 15%;
    z-index: -1;
    position: relative;
}

.imgLaundryLove {
    object-fit: contain;
    width: 24rem;
    margin-left: auto;
    transform: translateY(-1rem);
    margin-bottom: 3rem;
}

.taglineWrapper {
    background: $paperBackgroundImage;
    padding: 1.5rem;
    margin-top: 3rem;

    .bigType {
        text-align: left;
        color: $off-black;
        margin-bottom: 0.5rem;

        span {
            color: #148396;
        }
    }
}