@use "abstracts/breakpoints-mixins" as *;

$iconSize: 1.5rem;

.largeText {
    margin-bottom: 1rem !important;
}

.pastorWelcomeFamily {
    width: 100%;
    margin-bottom: 1.5rem;
}

.sundayServiceInfoWrapper {
    margin-bottom: 1rem;
}

.sundayServiceIntroText {
    font-size: 18px;
    margin-bottom: 3rem !important;
}

.serviceInfoContent {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    p {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    @include breakpoint(med) {
        font-size: 1.5rem;
    }
}

.serviceTimeText {
    text-wrap: nowrap;
    font-size: 1.25rem;
}

.calendarIcon,
.locationIcon {
    width: $iconSize;
    height: $iconSize;
    margin-right: 0 !important;
}

.googleMapsEmbed {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    height: 12.5rem;
}

.serviceTimeInfo {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.addToCalendarButton {
    margin-bottom: 1rem;
}

.primaryButton {
    margin-bottom: 1rem !important;
}