@use "../abstracts/all-abstracts" as *;
@use "../../components/NavBar/NavBar" as *;

// Variables
$hero-icon-button-size: 2rem;
$hero-buttons-gap-bp-med: 1rem;
$hero-icon-button-size-bp-med: 2.25rem;
$hero-buttons-gap-bp-lg: 1rem;
$hero-icon-button-size-bp-lg: 2.25rem;
$hero-buttons-gap-bp-xl: 1rem;
$hero-icon-button-size-bp-xl: 3rem;
$edu-exp-width-lg: 11.1rem;
$edu-exp-width-xl: 12rem;
$edu-exp-height-lg: 2.65rem;
$edu-exp-height-xl: 3.35rem;

// Keyframes
@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(1.25);
		opacity: 0.7;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.scroll-button-wrapper {
	display: none;
	flex-direction: column;
	align-items: end;
	justify-content: end;
	width: 90%;
	z-index: 4;
	bottom: 2rem;
	margin: auto;

	@include breakpoint(xl) {
		display: flex;
	}
}

.scroll-button {
	display: none;
}

// Hero section
.hero {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: $navbar-mobile-height auto 1rem auto;
	border-radius: 4px;
	padding-bottom: 3rem;
	gap: 3rem;

	@include breakpoint(med) {
		padding-top: 8rem;
		margin: auto;
		padding-bottom: 4rem;
	}

	@include breakpoint(lg) {
		margin-top: $navbar-desktop-height;
		padding-bottom: 5rem;
	}

	@include breakpoint(xl) {
		padding-bottom: 0;
		gap: 2rem;
	}

	@include breakpoint(huge) {
		padding-top: 10rem;
	}

	&-wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, auto);
		grid-template-areas: 'a' 'b';
		width: 90vw;
		margin: auto;
		align-items: center;
		gap: 1.25rem;
		justify-content: center;
		transition: align-items 0.3s ease-in-out;

		@include breakpoint(sm) {
			gap: 1.75rem;
		}

		@include breakpoint(med) {
			grid-template-areas: 'b a';
			grid-template-columns: minmax(0, 4fr) 3fr;
			grid-template-rows: auto;
			gap: $wrapper-gap-med;
			justify-content: space-between;
		}

		@include breakpoint(lg) {
			gap: $wrapper-gap-lg;
		}

		@include breakpoint(xl) {
			grid-template-columns: $wrapper-grid-xl;
			gap: $wrapper-gap-xl;
		}
	}

	&-image-wrapper {
		grid-area: a;
		display: flex;
		overflow: hidden;
		width: 100vw;
		height: 55vh;
		justify-self: center;
		max-height: 28rem;

		@include breakpoint(mobile-lg) {
			justify-content: center;
		}

		@include breakpoint(med) {
			margin-left: auto;
			height: fit-content;
			max-height: none;
			width: 100%;
			border-radius: 5px;
			align-items: center;
		}

		@include breakpoint(lg) {
			max-width: 28rem;
		}

		@include breakpoint(xl) {
			gap: $wrapper-gap-xl;
		}
	}

	&-content {
		grid-area: b;
		display: flex;
		width: 90vw;
		flex-direction: column;
		justify-self: center;
		max-width: 37rem;
		gap: 1rem;

		@include breakpoint(med) {
			width: fit-content;
			max-width: 100%;
			margin-right: auto;
			gap: 1.5rem;
		}

		@include breakpoint(lg) {
			height: fit-content;
			gap: 3rem;
			width: fit-content;
			max-width: none;
		}
	}

	&-content-wrapper {
		display: flex;
		flex-direction: column;
	}

	&-tagline {
		grid-area: c;
		color: $medium-grey;
		font-size: 1.65rem;
		font-weight: 450;
		line-height: 130%;
		margin-bottom: 0;

		span {
			color: $black;
			font-weight: 550;
		}

		@include breakpoint(sm) {
			font-size: clamp(1.5rem, 3.2vw, 2.75rem);
			line-height: 135%;
		}

		@include breakpoint(xl) {
			letter-spacing: -0.055rem;
		}
	}

	&-location {
		color: $medium-grey;
		font-size: clamp(1.125rem, 3.5vw, 1.5rem) !important;
		font-size: clamp(1.125rem, 3.5vw, 1.5rem) !important;

		@include breakpoint(lg) {
			margin-bottom: 3rem;
		}
	}

	&-intro {
		color: $off-black;
		line-height: 150%;
		/* 1.925rem */
		letter-spacing: -0.02rem;
		margin-bottom: 0.5rem;
		font-size: 1.125rem;
		max-width: 44rem;

		@include breakpoint(med) {
			font-size: 1rem;
			margin-bottom: 0;
		}

		@include breakpoint(lg) {
			font-size: 1.125rem;
		}

		@include breakpoint(xl) {
			font-size: 1.375rem;
		}
	}

	&-experience {
		display: grid;
		align-items: center;
		gap: 0.125rem;
		grid-template-columns: 2px 1fr;
		grid-template-rows: repeat(2, auto);
		grid-template-areas: 'c a'
			'c b';
		column-gap: 0.75rem;
		justify-content: center;
		margin-right: auto;

		@include breakpoint(lg) {
			grid-template-columns: $edu-exp-width-lg 2px auto;
			grid-template-areas: 'a c b';
		}

		@include breakpoint(xl) {
			grid-template-columns: $edu-exp-width-xl 2px auto;
		}

		p {
			font-size: 14px;
			line-height: 155%;
			margin-bottom: 0;

			@include breakpoint(xl) {
				font-size: 1rem;
				letter-spacing: -0.02rem;
			}
		}

		.education {
			grid-area: a;
			color: $off-black;

			@include breakpoint(lg) {
				width: $edu-exp-width-lg;
			}

			@include breakpoint(xl) {
				width: $edu-exp-width-xl;
			}
		}

		.work {
			grid-area: b;
			color: $medium-grey;
			max-width: 24rem;
		}

		.education,
		.work {
			@include breakpoint(lg) {
				height: $edu-exp-height-lg;
				margin: auto;
			}

			@include breakpoint(xl) {
				height: $edu-exp-height-xl;
			}
		}

		.divider {
			grid-area: c;
			border-right: 2.5px solid $off-black;
			height: 4rem;
			width: 0;

			@include breakpoint(lg) {
				height: 2.65rem;
				border-color: $medium-grey;
				opacity: 0.8;
			}

			@include breakpoint(xl) {
				height: $edu-exp-height-xl;
			}
		}

	}
}

.img-hero {
	display: flex;
	overflow: hidden;
	margin-bottom: 0;
	width: 100%;
	object-fit: cover;

	@include breakpoint(med) {
		transform: none;
		margin: 0 auto;
	}
}

.work-location-wrapper,
.work-availability-wrapper {
	display: none;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem !important;
	font-weight: 450;
	line-height: 130%;

	p {
		margin-bottom: 0;
		text-wrap: nowrap;
		color: #888;
	}

	.text-work-availability {
		color: $teal-accent;
	}

	@include breakpoint(sm) {
		display: flex;
	}

	@include breakpoint(lg) {
		gap: 0.75rem;
		font-size: 1.125rem;
	}
}




.text-work-availability,
.text-current-location,
.text-slash {
	@include breakpoint(lg) {
		font-size: 1.2rem;
		line-height: 100%;
	}

	@include breakpoint(xl) {
		font-size: 1.25rem;
		line-height: 100%;
	}

	@include breakpoint(xxl) {
		line-height: 100%;
	}
}

.work-location-wrapper {
	margin-bottom: 0.5rem;

	@include breakpoint(lg) {
		font-size: 1.125rem;
	}
}

.green-dot {
	width: 8px;
	height: 8px;
	background-color: #2Fa89F;
	border-radius: 50%;
	display: inline-block;
	animation: pulse 2.5s infinite;
	box-shadow: 0px 0px 8px rgba(32, 217, 198, 0.75);
	margin-left: 0.15rem;
}

.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: $hero-icon-button-size;
	height: $hero-icon-button-size;
	padding: 0.5rem;
	margin: 0;
	background-color: $black;
	border: 0;
	overflow: hidden;
	box-shadow: none;
	cursor: pointer;
	transition: background-color 0.3s;

	img {
		display: flex;
		width: 100%;
		margin: auto;
	}

	&:hover {
		opacity: 0.85;
		background-color: $primary-color;

		img {
			width: 103%;
			height: 103%;
		}
	}

	&:hover:active {
		transition: background-color 0.3s;
	}

	&:active:focus {
		background-color: $large-button-active-color;
		transition: border 0.3s;
	}
}

// About Hero Buttons
.ic-menu {
	background-image: url(../assets/svg/home/ic-menu.svg);
}