@use "@abstracts/all-abstracts" as *;

.container {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: $paperBackgroundImage;
    height: fit-content;
}

.containerHeadline {
    margin-bottom: 0.25rem;
    color: #222222;
    margin: auto;
    text-align: center;
    margin-bottom: 0.5rem;
}

.chalkDivider {
    height: 0.375rem !important;
}