// $primary-color: #4379df;
// $primary-color: #0387e5;

@use "abstracts/all-abstracts" as *;

@use "base/all-base";

@use "sections/all-sections";

@use "../components/project-components";

@use "../components/global-components";

@use "tastebuds/all-tastebuds";

@use "utilities/all-utilities";

@use "tastebuds/sketches";

// Components
@use "../components/NavBar/NavBar";

//
// .navbar-top {
// 	position: fixed;
// 	width: 100%;
// 	transition: background-color 0.1s ease-in;
// }
//
// .default-nav-color {
// 	background-color: transparent;
// }
//
// .postup-hero-nav-color {
// 	background-color: transparent;
// }
//
// .navbar-color-overview,
// .navbar-color-the-solution {
// 	background-color: transparent;
// }

// #hero,
// #the-context,
// #the-challenge,
// #the-solution,
// #the-process,
// #empathize,
// #secondary-research,
// #primary-research,
// #user-interviews,
// #competitor-analysis,
// #ideate,
// #prototype,
// #mind-map,
// #user-personas,
// #user-stories-flows,
// #information-architecture,
// // #sketches,
// #guerilla-test,
// #low-fidelity,
// #branding,
// #high-fidelity,
// #usability-testing-2,
// #design-iterations,
// #usability-testing-3,
// #limitations,
// #the-solution,
// // #final-prototype,
// #next-steps,
// #learnings,
// #reflection {
// 	display: none;
// }

.header-container.tastebuds {
	margin-bottom: 1rem;
}

#hero {
	background-color: $tastebuds-bg-yellow;
}

#overview {
	background-color: transparent;
}

#the-constraints {
	background-color: $lightest-grey;
}

// .navbar-top {
// 	position: fixed;
// 	width: 100%;
// 	transition: background-color 0.1s ease-in;
// }
//
// .default-nav-color {
// 	background-color: transparent;
// }
//
// .postup-hero-nav-color {
// 	background-color: transparent;
// }
//
// .navbar-color-overview,
// .navbar-color-the-solution {
// 	background-color: transparent;
// }