@use "../../scss/abstracts/breakpoints-mixins" as *;
@use "../../scss/abstracts/flexbox-mixins" as *;
@use "../../scss/abstracts/variables" as *;

$card-font-color: $black;

// Stashed features
.stashed-features {
	&_wrapper {
		cursor: grab;
		@include flex(row, 0.5rem);
		margin: 2rem auto;
		width: 90vw;

		overflow-x: scroll;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		cursor: default;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		@include breakpoint(lg) {
			width: 100%;
			max-width: 78rem;
			align-items: center;
			justify-content: center;
			overflow: visible;
			cursor: default;
		}
	}

	&_grid-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		gap: 1rem;
		max-width: none;
		width: fit-content;

		@include breakpoint(xl) {
			margin: 0 auto;
			justify-self: center;
			align-self: center;
			overflow: visible;

			li:last-child {
				margin: 0;
			}
		}
	}

	&_carousel-nav-arrow_wrapper {
		display: flex;
		gap: 1rem;
		list-style-type: none;
		justify-content: flex-end;
		flex-direction: row;
		list-style-type: none;

		li {
			padding: 0;
			transform: none;
			width: fit-content;
		}

		@include breakpoint(lg) {
			display: none;
		}
	}

	&_carousel-nav-arrow {
		width: 3rem;
		height: 3rem;
		justify-content: center;
		align-items: center;
		border-radius: 100%;
		background-color: #f0f0f0 !important;
		transition: opacity 0.3s ease-in-out;

		@include breakpoint(med) {
			width: 3.25rem;
			height: 3.25rem;
		}

		&:hover {
			background-color: #e0e0e0 !important;
		}

		&:active {
			background-color: #d0d0d0 !important;
		}
	}

	&.card {
		scroll-snap-align: center;
		scroll-snap-stop: always;
		background-color: #f9f9f9;
		width: 18.75rem;
		height: fit-content;
		aspect-ratio: 7/6;

		&.last-child {
			margin-right: 5vw;
		}

		@include breakpoint(lg) {

			&.first-child,
			&.last-child {
				margin: 0;
			}

			.card_icon {
				opacity: 0.8;
			}
		}
	}
}