@use "../abstracts/all-abstracts" as *;
$prototype-accordion-bg: #1e1e1e;

.img-prototype-checklist {
	display: flex;
	width: 100%;
	height: auto;
}

.img-prototype-v1-wireflow {
	width: 90vw;
	max-width: 80rem;
	margin: auto;
}

#final-test-prototype {
	background-color: $lightest-grey;
	margin: 2rem 0;

	@include breakpoint(lg) {
		margin: 4rem 0 0;
	}
}

.final-test-prototype_wrapper {
	@include flex(column, 2.5rem, center, center);
	width: fit-content;
	max-width: 90vw;
	margin: auto;
}

.prototype-walkthrough-section_grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}

.prototype-wrapper {
	background-color: $light-grey;
	padding: 2rem 0;

	header {
		max-width: 1200px;
		width: 90%;
		margin-bottom: 0;
	}

	@include breakpoint(med) {
		padding: 3rem 0;
	}

	&_heading {
		display: flex;
		color: $black;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 600;
		line-height: 125%;
		margin: 0 auto;
		max-width: 1200px;
		letter-spacing: -0.25px;
		width: 90%;

		@include breakpoint(med) {
			display: block;
			font-size: 2.25rem;
			text-align: left;
			align-self: end;
			grid-area: a;
			width: 100%;
		}
	}

	&_wrapper {
		display: flex;
		flex-direction: column;
		max-width: 1600px;
		width: 90%;
		margin: 0 auto;
		padding: 2rem 1rem;
		border-radius: 1rem;
		background-color: white;
		height: fit-content;

		@include breakpoint(med) {
			margin-bottom: 2rem;
			max-width: 60rem;
			padding: 3rem 3rem;
		}

		@include breakpoint(lg) {
			padding: 3rem 4rem;
		}
	}

	&_mobile-accordion-wrapper {
		display: flex;
		width: 90%;
		margin: auto;
		margin-top: 1rem;
		margin-bottom: 0.5rem;

		@include breakpoint(med) {
			display: none;
		}
	}

	&_grid-container {
		@include flex(column, 1rem, flex-start, center);
		margin: 0 auto;
		width: 100%;

		@include breakpoint(med) {
			display: grid;
			grid-template-rows: auto auto auto auto;
			grid-template-columns: auto auto;
			grid-template-areas: "a b" ". b" "c c" "d d";
			gap: 2rem;
			margin: auto;
			justify-content: flex-start;
			width: 100%;
		}

		@include breakpoint(lg) {
			grid-template-rows: auto auto auto;
			grid-template-columns: auto auto;
			grid-template-areas: "a b" "c b" "d b";
			gap: 1rem 3rem;
		}
	}

	&_video {
		width: 80%;
		margin: 0 auto;
		max-width: 15rem;

		@include breakpoint(med) {
			height: 100%;
			width: fit-content;
			align-self: start;
			grid-area: b;
		}
	}

	&_content-01,
	&_content-02 {
		display: none;

		@include breakpoint(med) {
			display: block;
			width: 100%;

			p:last-child {
				margin-bottom: 0;
			}
		}

		@include breakpoint(lg) {
			max-width: 34rem;
		}
	}

	&_content-01 {
		@include breakpoint(med) {
			grid-area: c;
		}
	}

	&_content-02 {
		@include breakpoint(med) {
			grid-area: d;
		}
	}

	&_subheading {
		font-size: 1.25rem;
		font-weight: 400 !important;
		line-height: 125%;
		color: white;
		margin-bottom: 0.5rem;

		@include breakpoint(med) {
			font-size: 1.2rem;
			color: $off-black !important;
			font-weight: 500 !important;
		}

		@include breakpoint(xl) {
			font-size: 1.44rem;
		}
	}

	&_body {
		font-size: 1.125rem;
		font-weight: 400 !important;
		color: white;

		@include breakpoint(med) {
			font-size: 1.125rem;
			color: $medium-grey !important;
		}

		@include breakpoint(lg) {
			font-size: 1.15rem;
		}
	}
}

.prototype-accordion {
	background-color: $prototype-accordion-bg;
	border-radius: 10px;
	padding: 1rem 1.25rem;
	border: 0;
	margin-top: 0;

	&_header {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		padding-bottom: 0;
		border-radius: 10px;
		cursor: pointer;
		background-color: $prototype-accordion-bg;

		p {
			display: flex;
			font-size: 1.25rem;
			font-weight: 500;
			line-height: 130%;
			text-align: left;
			margin: 0;
			flex: 1;
			color: white;
		}

		.prototype-accordion_icon {
			transition: transform 0.4s;
			width: 1.5rem;
			height: 1.5rem;
			margin: auto;
		}
	}

	&_content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;

		p {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			color: white; // Make sure this is not being overridden elsewhere
			text-align: left;
		}

		span {
			color: white;
		}
	}
}