// About me
@use "../abstracts/all-abstracts" as *;
@use "../../scss/about/about-variables" as about;

.scroll-button {
	cursor: pointer;
	font-size: 1.125rem;
	background-color: transparent;
	text-decoration: none;
	border: 0;
	height: auto;
	margin: 0;
	padding: 0;
	transition: transform 0.2s ease;
	width: fit-content;
	height: fit-content;

	&:hover {
		transform: scale(1.05);
	}

	img {
		height: 3rem;
		width: 3rem;
		margin: auto;
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 0.35;
		}

		&:active {
			opacity: 0.75;
		}
	}
}

.section-heading {
	margin-bottom: 1rem;
}

.section-container {
	padding-bottom: about.$section-padding-mobile;
}

.about_wrapper {
	display: grid;
	grid-template-areas: "b" "a" "c";
	width: 100vw;
	max-width: 40rem;
	margin: auto;
	align-items: start;
}

.about_portrait-wrapper {
	display: flex;
	width: 100vw; // Ensures the container takes up the full width of its parent
	overflow: hidden; // Prevents any overflow (optional based on your design needs)
	border-radius: 1px;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-bottom: 1.5rem;
	height: 50vh;
	max-height: 28rem;
	grid-area: b;

	img {
		display: flex; // Removes any space below the image
		width: fit-content; // Makes the image take up 100% of the container's width
		height: 100%; // Maintains the image's aspect ratio initially
		top: 1rem;
	}
}

.about_content-wrapper {
	display: flex;
	flex-direction: column;
	width: 90vw;
	margin: auto;
	grid-area: a;
	gap: 2rem;

	p {
		font-size: 1.125rem;
	}
}

.about-details_container {
	width: 100vw;
	// background-color: #f9f9f9;
}

.about-details_wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(6, 1fr);
	gap: 1.5rem;
	align-items: start;
	justify-content: start;
	width: 90vw;
	max-width: 68rem;
	margin: auto;
	margin-top: 1rem;
	grid-area: c;
	// padding: 1.75rem 0;
	// border: 1px solid #f0f0f0;
	// border-width: 1px 0;
}

.about-details_grid-container {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	/* Automatic row sizing based on content */
	column-gap: 1.5rem;
	row-gap: 0.25rem;
	grid-template-areas: "a b" "a c";
	align-items: center;
	justify-content: center;

	&:last-child {
		margin-bottom: 0;
	}

	.grid-item-01 {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-area: a;

		svg {
			width: 2rem;
			height: 2rem;
			fill: $teal-accent;
			opacity: 0.75;
		}
	}

	.grid-item-02 {
		grid-area: b;

		p {
			color: $medium-grey;
			font-family: Inter;
			font-size: 0.6875rem;
			font-style: normal;
			font-weight: 500;
			line-height: 100%;
			/* 0.6875rem */
			letter-spacing: 0.04125rem;
			text-transform: uppercase;
			margin-bottom: 0;
		}
	}

	.grid-item-03 {
		grid-area: c;

		p {
			color: $off-black;
			font-family: Inter;
			font-size: 1.125rem;
			font-style: normal;
			line-height: 125%;
			/* 1.09375rem */
			margin-bottom: 0;
		}
	}
}

@include breakpoint(sm) {
	.about-details_wrapper {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1.5rem;
	}
}

@include breakpoint(med) {
	.section-container {
		padding: 4rem 0;
	}

	.about_wrapper {
		grid-template-areas: "a a b" "a a c" "a a c";
		width: 90vw;
		max-width: 68rem;
		gap: 1.5rem 5rem;
		align-items: baseline;
		margin-top: 1rem;
	}

	.section-heading {
		margin-bottom: 1.5rem;
	}

	.about_portrait-wrapper {
		width: 100%;
		border-radius: 3px;
		overflow: hidden;
		height: fit-content;
		margin: 0;
		aspect-ratio: 4 / 4;

		img {
			height: 100%;
		}
	}

	.about_content-wrapper {
		width: 100%;
		height: 100%;
	}

	.about-details_wrapper {
		grid-area: c;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		width: 100%;
		min-width: 10rem;
	}

	.about-details_grid-container {
		row-gap: 0.5rem;

		.grid-item-01 img {
			width: 1.75rem;
			height: 1.75rem;
		}

		.grid-item-02 p {
			font-size: 0.8125rem;
		}
	}
}

@include breakpoint(lg) {
	.section-about {
		margin-top: 3rem;
		padding: 3rem 0;
		padding-bottom: 3rem;
	}
}

@include breakpoint(xl) {
	.about-details_wrapper {
		column-gap: 2rem;
	}
}